apiVersion: v1
kind: Service
metadata:
  name: java8-gateway
  namespace: ebpf-poc
  labels:
    app: java8-gateway
    tier: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: java8-gateway
