apiVersion: v1
kind: Service
metadata:
  name: java17-service
  namespace: ebpf-poc
  labels:
    app: java17-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: java17-service
